<ion-view title="Contatos">
    <ion-content class="has-header">
    <img class="full-image" id="bannerapp" src="img/banner_app.jpg">
    <div class="padding">
        <div class="list">
            <b>Fortaleza Esporte Clube</b><br/>
            <b>Endereço: </b> .... <br/>
            <b>Telefones: </b> .... <br/> <br/>
            <label class="item item-input">
            <input type="text" placeholder="Assunto" ng-model="contact.subject">
            </label>

            <label class="item item-input">
            <textarea placeholder="Mensagem" rows="5" ng-model="contact.body"></textarea>
            </label>

            <label class="item">
            <button class="button button-block button-positive" type="submit" ng-click="submitForm()">Enviar Mensagem</button>
            </label>
            
        </div>
         <button class="button button-full button-positive" ng-click="loadURL('https://www12.secrel.com.br/fidelidadefortaleza/home.asp', '_self')">
            teste
            </button>
              <button class="button button-full button-positive" ng-click="loadURL3('https://www12.secrel.com.br/fidelidadefortaleza/home.asp','_blank')">
            teste
            </button>
              <button class="button button-full button-positive" ng-click="loadURL2('http://www.leoesdopici.com.br','_self')">
            teste 
            </button>
   </div>
    </ion-content>
</ion-view>