<ion-view title="{{destaque.titulo}}">

    <ion-nav-buttons side="right">
   
    </ion-nav-buttons>

    <ion-content class="has-header" id="noticia">
        <span class="localdata">{{storage}}</span>
        <span ng-show="{{destaque.img.length}}"><img ng-src="http://gran.com.br/site/images/slides/{{destaque.img}}"/></span>
        <div class="padding">
           <h2 class="title">{{destaque.titulo}}</h2>
          
            <p ng-bind-html="destaque.Subtitulo" class="texto"></p>
             <p ng-bind-html="destaque.Texto"></p>
<!--    <a class="button button-full button-positive" href="#/app/noticia/{{post.postId}}">  
            Veja a notícia completa
            </a> -->

        </div>

    </ion-content>
</ion-view>
