<ion-view title="Fotos">
    <ion-nav-buttons side="right">
     <a ng-click="loadURL('https://www.instagram.com/gransaojoao/')" class="button button-icon icon ion-social-instagram"></a>
    </ion-nav-buttons>        
            <div id="lightbox" class="lightbox"><span></span><p class="action"><a class="share" ng-click="sharePost()" ><i class="icon ion-share"></i></a><a class="close" ng-click="close_foto()"><i class="icon ion-close-circled"></i></a></p></div>

    <ion-content class="has-header" locking="true">

         <div id="fotos" >
            <div class="thumb" data-thumbid="{{foto.id}}"  ng-repeat="foto in fotos  | limitTo: paginationLimit()">
                <img ng-click="abre_foto($event, {{foto.id}})"  data-imgfull="{{foto.img_full}}"  data-link="http://gran.com.br" onerror="this.src='img/default.png'" img-cache ic-src="{{foto.img}}" ng-src="{{foto.img}}"/>
            </div>
        </div>
       <ion-infinite-scroll ng-show="hasMoreItems()" 
    on-infinite="showMoreItems()"
    distance="1%">
  </ion-infinite-scroll>
        
    </ion-content>
</ion-view>