<ion-view title="GALERIA DE FOTOS">
 <ion-nav-buttons side="left">
    <button menu-toggle="left" class="button button-icon icon ion-navicon"></button>
    </ion-nav-buttons>
    <ion-nav-buttons side="right">
   
    </ion-nav-buttons>
    <ion-content class="has-header" overflow-scroll="true" id="noticias-lista" has-bouncing="true">
        
       <span class="localdata">{{storage}}</span>
       <div collection-repeat="galeria in galerias | limitTo: paginationLimit()">
    <div class="list card">

            <div class="item"  >
            <h2>{{galeria.nome}}</h2>
            <p ng-bind-html="galeria.data * 1000 | date:'dd/MM/yy'"></p>
          </div>
          <div class="item item-body">
            <img class="full-image" onerror="this.src='img/default.png'" height="80" img-cache ic-src="{{galeria.img}}" ng-src="{{galeria.img}}">
            <p>
              <a href="#" class="subdued">{{galerias.length}} Fotos</a>
            </p>
          </div>

        </div>
      </div>

        <ion-infinite-scroll ng-show="hasMoreItems()" 
    on-infinite="showMoreItems()"
    distance="1%">
  </ion-infinite-scroll>
    </ion-content>
</ion-view>