<ion-view title="O CLUBE">
 <ion-nav-buttons side="left">
    <button menu-toggle="left" class="button button-icon icon ion-navicon"></button>
    </ion-nav-buttons>

    <ion-content class="has-header" overflow-scroll="true" id="textos">
          
    <span class="localdata">{{storage}}</span>
  
        
    <select  ng-model="colorsSelected" ng-change="changedValue(colorsSelected)"  ng-options="color.name for color in colors">
    </select>
    <div class="padding">   
        <p ng-bind-html="texto" class="texto"></p>
    </div>
    </ion-content>
</ion-view>