<ion-view title="O CLUBE">
 <ion-nav-buttons side="left">
    <button menu-toggle="left" class="button button-icon icon ion-navicon"></button>
    </ion-nav-buttons>

    <ion-content class="has-header" overflow-scroll="true" id="textos">
          
    <span class="localdata">{{storage}}</span>
          <img src="http://www.gran.com.br/site/images/slides/slidediretoria.jpg" style="width:100%">

    <div class="padding">   
        <h3>História</h3>
        <p class="texto">A Sociedade Esportiva Gran São João é um clube brasileiro de futebol da cidade de Limeira. A equipe foi fundada em 15 de março de 1948 sob o nome de Esporte Clube Limeirense, tendo sido alterado em 11 de setembro de 1951 para o nome que mantém até hoje. A equipe disputou uma edição do campeonato paulista da segunda divisão (atual A2), em 1952; e quatro edições do campeonato paulista da terceira divisão, em 1954, 1961, 1962 e 1963. </p><p>
Atualmente o clube de futebol se tornou um clube social, com cerca de doze mil associados.A sua Sede fica localizada na Rua Dr. Antônio Francisco Ozanan, 111 - no Bairro Vila São João Limeira. Ao longo da sua história, o clube disputou o Campeonato Paulista da Segunda Divisão (atual Série A-2), em 1952; e nas outras quatro, esteve presente no Paulistão da Terceira Divisão (atual Série A-3): 1954, 1961, 1962 e 1963.</p>
    </div>
    </ion-content>
</ion-view>