<ion-side-menus>

  <ion-pane ion-side-menu-content>
    <ion-nav-bar class="bar-stable nav-title-slide-ios7">
      <ion-nav-back-button class="button-clear"><i class="icon ion-ios-arrow-back"></i> Voltar</ion-nav-back-button>
    </ion-nav-bar>

    <ion-nav-view name="menuContent" animation="slide-left-right"></ion-nav-view>
  </ion-pane>


  <ion-side-menu side="left">
  
    <ion-content>
    <div class="full-image" id="logo"></div>

      
      <ion-list>

    <div ng-repeat="item in items">
      <div ng-if="item.url">
                  <ion-item nav-clear menu-close ng-href="{{item.url}}">
                <i class="icon {{item.icon}}"></i>&nbsp;&nbsp;{{item.title}}
            </ion-item>
            </div>
      <div ng-if="!item.url" >
 <ion-item ng-click="toggleGroup(item)" ng-class="item-content" ng-href="{{item.url}}">
                <i class="icon" ng-class="isGroupShown(item) ? '{{item.icon}}' : '{{item.icon}}'"></i>&nbsp;&nbsp;{{item.title}}
            </ion-item>
            <ion-item  ng-class="isGroupShown(item) ? 'sub-item item-accordion' : ''"
                      ng-repeat="submenu in item.subMenu"
                      ng-show="isGroupShown(item)"  nav-clear menu-close href="{{submenu.url}}">
              <i class="icon {{submenu.icon}}"></i>&nbsp;&nbsp;{{submenu.title}}
            </ion-item>
      </div>
    </div>
  </ion-list>
 </ion-content>
  </ion-side-menu>
</ion-side-menus> 
