<ion-view title="{{post.Titulo}}">
    
    <ion-nav-buttons side="right">
    <a class="button button-clear" ng-click="sharePost()"><i class="icon ion-share"></i></a>
    </ion-nav-buttons>
    
    <ion-content class="has-header" id="noticia" scroll="true" overflow-scroll="true" >
        <span class="localdata">{{storage}}</span>
             <div ng-bind-html="post.embed" scroll="true" overflow-scroll="true" style=" height: 100%;"  class="iframe-wrapper"></div>
    </ion-content>
</ion-view>