<ion-view title="Notificações">
 <ion-nav-buttons side="left">
    <button menu-toggle="left" class="button button-icon icon ion-navicon"></button>
    </ion-nav-buttons>
    <ion-nav-buttons side="right">
    </ion-nav-buttons>
    <ion-content class="has-header" locking="true">
    <span class="localdata">{{storage}}</span>
        <ul class="list">

  <li class="item item-toggle">
     Receber Notificações?
     <label class="toggle toggle-balanced">
       <input type="checkbox" checked  ng-click="ativaPush()">
       <div class="track">
         <div class="handle"></div>
       </div>
     </label>
  </li>
    <a class="item item-icon-left" ng-href="{{notificacao.link}}" ng-repeat="notificacao in notificacoes" >
      <i class="icon  icon ion-android-notifications"></i>
      <h2>{{notificacao.texto}}<span ng-bind-html="notificacao.data * 1000 | date:'dd/MM/yy'"></span></h2>
    </a>
</ul>
         <ion-infinite-scroll ng-show="hasMoreItems()" 
    on-infinite="showMoreItems()"
    distance="1%">
  </ion-infinite-scroll>
    </ion-content>
    </ion-content>
</ion-view>