<ion-view title="PRÓXIMOS JOGOS">
 <ion-nav-buttons side="left">
    <button menu-toggle="left" class="button button-icon icon ion-navicon"></button>
    </ion-nav-buttons>
    <ion-nav-buttons side="right">
    <button class="button button-clear" ng-click="loadData()"><i class="icon ion-loop"></i></button>
    </ion-nav-buttons>
    <ion-content class="has-header" overflow-scroll="true" id="jogos-lista">
        
       <span class="localdata">{{storage}}</span>
      
        <div class="list">

            <a class="item" href="#" ng-repeat="jogo in jogos | todayFilter: 'DataHora'" >    
<!--                         <a class="item" href="#" ng-repeat="jogo in jogos | limitTo: paginationLimit() | orderObjectBy:'DataHora':true" >      
 -->  
                <div class="data"><!-- <span ng-bind-html="jogo.DataHora * 1000 | date:'dd/MM/yy'"></span> -->
                    <span class="dia">{{jogo.DataHora * 1000 | date:'dd/MM'}}</span><span class="hora">{{jogo.DataHora * 1000 | date:'H:mm'}}h</span>
                </div>          
                <h2><span class="time"><img ng-src="http://fortalezaec.net/{{jogo.Mandante.Foto}}"/>{{jogo.Mandante.Nome}}</span> x<span class="time time2"><img ng-src="http://fortalezaec.net/{{jogo.Visitante.Foto}}"/>{{jogo.Visitante.Nome}}</span></h2>
                <h3></h3>
      </a>
      <div class="barra-titulo">
 <label class="item item-input">
   <div class="input-label">Partidas anteriores</div>
  </label>
</div>
 <a class="item" href="#" ng-repeat="jogo in jogos  | orderObjectBy:'DataHora':true" ng-if="jogo.DataHora < datahoje"  >    
<!--                         <a class="item" href="#" ng-repeat="jogo in jogos | limitTo: paginationLimit() | orderObjectBy:'DataHora':true" >      
 -->  
                <div class="data"><!-- <span ng-bind-html="jogo.DataHora * 1000 | date:'dd/MM/yy'"></span> -->
                    <span class="dia">{{jogo.DataHora * 1000 | date:'dd/MM'}}</span><span class="hora">{{jogo.DataHora * 1000 | date:'H:mm'}}h</span>
                </div>          
                <h2><span class="time"><img ng-src="http://fortalezaec.net/{{jogo.Mandante.Foto}}"/>{{jogo.Mandante.Nome}} <b>{{jogo.PlacarMandante}}</b></span> x<span class="time time2"><img ng-src="http://fortalezaec.net/{{jogo.Visitante.Foto}}"/><b>{{jogo.PlacarVisitante}}</b> {{jogo.Visitante.Nome}}</span></h2>
                <h3></h3>
      </a>
        </div>
        
       <!--  <button class="button button-block button-positive" ng-show="hasMoreItems()" ng-click="showMoreItems()" >
        Exibir mais
        </button>
 -->
       
    </ion-content>
</ion-view>