<ion-view title="{{video.snippet.title}}">
  <ion-nav-buttons side="right">
    <a class="button button-clear" ng-click="sharePost()"><i class="icon ion-share"></i></a>
    </ion-nav-buttons>
    <ion-content class="has-header">
        <span class="localdata">{{storage}}</span>
        <div id="video" >
         <div class="item item-image">
                 <div class="media-container" data-ng-init="init()">
                 
                  <div ng-bind-html="video.embed"></div>
                            </div>
          </div>
                       <div class="padding">
            <h2 class="title">{{video.snippet.title}}</h2>
             <div  class="post-info">
            Publicado em {{video.snippet.publishedAt | date:'dd/MM/yy'}}<br/>
            </div>
            <p>{{video.snippet.description}}</p>
            
             </div>
        </div>
      <!--    <div class="barra-titulo">
 <label class="item item-input">
   <div class="input-label">Mais vídeos</div>
  </label>
</div> -->
       <!--   <div class="list"  ng-controller="VideosCtrl">
            <a class="item" ng-class="{'item-thumbnail-left' : video.snippet.thumbnails.default.url}" ng-repeat="video in videos | limitTo: 4" >
                <img ng-src="{{video.snippet.thumbnails.default.url}}" alt="{{video.snippet.title}}">
                
                <h2>{{video.snippet.title}}</h2>
                <h3>{{video.snippet.description}}...</h3>

       </a>
        </div> -->
    </ion-content>
</ion-view>