<?xml encoding="UTF-8" standalone="yes"?>
<widget id="com.clubegran.app" version="0.2" 
  xmlns:gap="http://phonegap.com/ns/1.0" 
  xmlns:android="http://schemas.android.com/apk/res/android" 
  xmlns="http://www.w3.org/ns/widgets"
  xmlns:cdv="http://cordova.apache.org/ns/1.0">
  <name>Gran São João</name>
  <description>
        O Clube da Família
    </description>
  <author email="fabioweydson@gmail.com" href="http://dcoutto.com.br/">
      Fábio Weydson
    </author>
  <content src="index.html"/>
  <preference name="permissions" value="none"/>
  <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
 <feature name="http://api.phonegap.com/1.0/geolocation"/>
  <preference name="target-device" value="universal"/>
  <preference name="orientation" value="default"/>
  <preference name="fullscreen" value="true"/>
  <preference name="webviewbounce" value="false"/>
  <preference name="UIWebViewBounce" value="false"/>
  <preference name="DisallowOverscroll" value="true"/>
  <preference name="prerendered-icon" value="true"/>
  <preference name="stay-in-webview" value="false"/>
  <preference name="ios-statusbarstyle" value="blacktranslucent"/>
  <preference name="StatusBarStyle" value="lightcontent"/>
  <preference name="detect-data-types" value="true"/>
  <preference name="exit-on-suspend" value="false"/>
  <preference name="show-splash-screen-spinner" value="true"/>
  <preference name="auto-hide-splash-screen" value="false"/>
  <preference name="disable-cursor" value="false"/>
  <preference name="android-minSdkVersion" value="14"/>
  <preference name="android-installLocation" value="auto"/>
  <preference name="android-build-tool" value="gradle"/>
  <preference name="AutoHideSplashScreen" value="false"/>
  <preference name="SplashScreenDelay" value="10000"/>
  <preference name="phonegap-version" value="cli-5.2.0"/>
  <preference name="SplashScreen" value="screen"/>
  <preference name="android-targetSdkVersion" value="20"/>


  <feature name="StatusBar">

    <param name="ios-package" value="CDVStatusBar" onload="true"/>
  </feature>
  <feature name="Geolocation">
    <param name="android-package" value="org.apache.cordova.geolocation.GeoBroker" />
</feature>
  <gap:plugin name="cordova-plugin-device" source="npm" version="1.0.1"/>
  <gap:plugin name="cordova-plugin-device-motion" source="npm" version="1.1.1"/>
  <gap:plugin name="cordova-plugin-device-orientation" source="npm" version="1.0.1"/>
  <gap:plugin name="cordova-plugin-dialogs" source="npm" version="1.1.1"/>
  <gap:plugin name="cordova-plugin-file" source="npm" version="3.0.0"/>
  <gap:plugin name="cordova-plugin-file-transfer" source="npm" version="1.3.0"/>
  <gap:plugin name="cordova-plugin-globalization" source="npm" version="1.0.1"/>
  <gap:plugin name="cordova-plugin-geolocation" spec="1.0.1" source="pgb"/>
  <gap:plugin name="cordova-plugin-inappbrowser" source="npm" version="1.0.1"/>
  <gap:plugin name="cordova-plugin-media" source="npm" version="1.0.1"/>
  <gap:plugin name="cordova-plugin-network-information" source="npm" version="1.0.1"/>
  <gap:plugin name="cordova-plugin-splashscreen" source="npm" version="2.1.0"/>
  <gap:plugin name="cordova-plugin-statusbar" source="npm" version="1.0.1"/>
  <gap:plugin name="cordova-plugin-whitelist" source="npm" version="1.0.0"/>
  <gap:plugin name="nl.x-services.plugins.socialsharing" source="pgb" version="4.3.8"/>
  <gap:plugin name="nl.x-services.plugins.toast" source="pgb" version="2.0.2"/>
  <gap:plugin name="ionic-plugin-keyboard" source="npm"/>
  <gap:plugin name="phonegap-plugin-push" source="npm">
      <gap:plugin name="com.plugins.shortcut" />
    <param name="SENDER_ID" value="935040805516"/>
  </gap:plugin>
<icon src="icon.png" />
<splash src="splash.png" /> 
 <platform name="android">
    <!-- you can use any density that exists in the Android project -->
    <splash src="resources/android/splash/hdpi-landscape.png" density="land-hdpi"/>
    <splash src="resources/android/splash/ldpi-landscape.png" density="land-ldpi"/>
    <splash src="resources/android/splash/mdpi-landscape.png" density="land-mdpi"/>
    <splash src="resources/android/splash/xhdpi-landscape.png" density="land-xhdpi"/>

    <splash src="resources/android/splash/hdpi-portrait.png" density="port-hdpi"/>
    <splash src="resources/android/splash/ldpi-portrait.png" density="port-ldpi"/>
    <splash src="resources/android/splash/mdpi-portrait.png" density="port-mdpi"/>
    <splash src="resources/android/splash/xhdpi-portrait.png" density="port-xhdpi"/>

</platform>
 <platform name="android">
              <icon src="resources/android/icon/ldpi.png" density="ldpi" />
              <icon src="resources/android/icon/mdpi.png" density="mdpi" />
              <icon src="resources/android/icon/hdpi.png" density="hdpi" />
              <icon src="resources/android/icon/xhdpi.png" density="xhdpi" />
     </platform>
  <platform name="android">
    <allow-intent href="market:*"/>
  </platform>
 <resource-file src="icon.png" target="res/drawable/noti-icon.png" />
<resource-file src="icon.png" target="res/drawable-hdpi/noti-icon.png" />


  <gap:config-file platform="ios" parent="CFBundleShortVersionString">
    <string>00150</string>
  </gap:config-file>
  <gap:config-file platform="android" parent="/manifest/application">
    <activity android:launchMode="singleInstance"/>
  </gap:config-file>
  <access origin="*"/>
  <plugin name="cordova-plugin-whitelist" version="1"/>
  <allow-navigation href="http://*/*" />
  <allow-intent href="http://*/*"/>
  <allow-intent href="https://*/*"/>
  <allow-intent href="tel:*"/>
  <allow-intent href="sms:*"/>
  <allow-intent href="mailto:*"/>
  <allow-intent href="geo:*"/>
</widget>